# Ignore compiled Python files
*.pyc

# Ignore the virtual environment
venv/

# Ignore the Django secret key
secret_key.txt

# Ignore database files
db.sqlite3

# Ignore static files
staticfiles/
static/

# Ignore media files
media/


# Ignore log files
*.log

# Ignore environment-specific settings
.env

# Ignore IDE files
.vscode/
.idea/
*.pydevproject
.history/

# Ignore local development settings
local_settings.py
